/* ==== Google font ==== */
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700,900);
@import url('https://fonts.googleapis.com/css?family=Ek+Mukta:400,600,700');

body {
    padding-top: 54px;
    font-family: 'Ek Mukta', sans-serif;
    font-weight: 300;
    color: #666;
    background-color: #fff;
	font-size: 16px;
    line-height: 1.6em;
	font-weight: 400;
}

@media (min-width: 992px) {
    body {
        padding-top: 56px;
    }
}

.navbar-nav > li {
    padding-right: 60px;
    text-align: center;
}

#login {
    float: right;
    max-width: 100%;
}

#signup {
    float: right;
    padding-top: 15px;
    color: #43A047;
}

#loginpopbtn > a {
    text-decoration: none;
    color: white;
}

#signup > a {
    text-decoration: none;
}


/*style social media icons in the footer*/
.social {
    width: 20%;
    margin: auto;
}

.social img {
    margin: auto;
}

#twitter {
    width: 40px;
}

#facebook {
    width: 40px;
}

#email {
    width: 40px;
}

#instagram {
    width: 40px;
}

.custom {
    width: 50%;
}

.searchbtn {
    margin-left: 10px;
}

#twitter:hover,
#facebook:hover,
#email:hover,
#instagram:hover {
    transform: scale(1.2);
}


/*
.row img:hover{
    transform:scale(1.4);
}
*/

/*image transition style in the card box*/
.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

.imageContainer:hover .image {
  opacity: 0.3;
}

.imageContainer:hover .middle {
  opacity: 1;
}



.popup{
    background-color: red;
    position: relative;
    margin: 0 auto;
    border-radius: 4px;
    display:none;
}
